# Ignorar tudo
**

# Exceto esses arquivos e diretórios
!src/
!pom.xml
!Dockerfile

# Ignorar arquivos específicos
.git
.gitignore
.mvn/
*.iml
*.iws
*.ipr
.idea/
*.log
*.md
.classpath
.project
.settings/
.target/

# Ignorar diretórios de saída
target/
bin/
build/

# Ignorar arquivos de configuração locais
*.properties
*.yml
*.yaml
!src/main/resources/application*.yml
!src/main/resources/application*.yaml
!src/main/resources/*.properties
